h1{
    font-family: 'Montserrat';
    text-align: center;
}
p{
    font-family: 'Montserrat';
    width: 1175px;
    text-align: center;
    padding-left: 40px;
    padding-bottom: 100px;
}